torch==2.2.0
transformers==4.51.1
huggingface_hub>=0.25.0
spacy==3.7.2
requests==2.32.3
streamlit==1.44.1
wikidata==0.8.1
urllib3>=2.2.0

# Force compatible numpy version
numpy<2

# spaCy model
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
